name: "Build Library"

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:
  workflow_dispatch:

env:
  DOTNET_NOLOGO: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_SYSTEM_GLOBALIZATION_INVARIANT: true

jobs:
  build:
    timeout-minutes: 30
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    name: Build library
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
    - name: Setup .NET
      uses: actions/setup-dotnet@v5.0.0
      with:
        dotnet-version: |
          10.0.100-rc.1.25451.107
          9.x
          8.x
    - name: Restore dependencies
      run: dotnet restore --no-cache -f -v minimal
    - name: Build library
      run: dotnet build -c Release -v normal --no-restore
    - name: Test library
      run: dotnet test -v normal -c Release --no-restore --no-build
